extends ../layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")

    .modal.fade(id="EditUserModal",tabindex="-1", role="dialog")
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header
            h5.modal-title Editer le compte utilisateur
            button.close(type="button",data-dismiss="modal",aria-label="Close")
              span(aria-hidden="true") &times
          .modal-body
            form(method="post",action="/admin/user_edit")
              .row
                .col-md-6
                    label(for="edit_user_login") Login
                    input.form-control(type="text" name="edit_user_login",value=user_data[0].login_user) 
                    input(type="hidden",name="user_id",value=user_data[0].id_user)
              .row
                .col-md-6 
                    label(for="edit_user_nom") Nom            
                    input.form-control(type="text", name="edit_user_nom", value=user_data[0].nom_user)
                .col-md-6 
                    label(for="edit_user_pnom") Prénom            
                    input.form-control( type="text",name="edit_user_pnom",value=user_data[0].prenom_user)
              .row   
                .col-md-12
                    label(for="edit_user_email") Email
                    input.form-control(type="text" name="edit_user_email",value=user_data[0].mail_user)
              .row
                .col-md-6 
                    label(for="edit_user_droits") Droits            
                    select.form-control(name="edit_user_droits")
                        for droit in liste_droits
                            option(value=droit.id_droit ,selected = (droit.id_droit == user_data[0].droits_user ? true: false)) #{droit.descr_droit}
                .col-md-6 
                    label(for="edit_user_admin") Admin            
                    select.form-control(name="edit_user_admin")
                            option(value=0,selected= (user_data[0].admin == 0 ? true :false)) Non
                            option(value=1,selected= (user_data[0].admin == 1 ? true :false)) Oui
              .row
                input.btn.btn-primary.submit_button(type="submit" ,id="submit_maj_user",name="submit_maj_user",value="Mettre a jour" )
                input.btn.btn-secondary(type="button",data-dismiss="modal",value="Fermer")
    script.
      $('#EditUserModal').modal('show')
      $('#submit_maj_user').click(function(){
        $('#EditUserModal').modal('hide')
      })
        