extends ../layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main

        script(src="https://code.jquery.com/jquery-3.2.1.min.js" )
        script(src='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
        script(src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
        script.
            $(document).ready( function () {
                $('#liste_users').DataTable();
            } );
    
        .row
            .col-md-10
                p.titre Liste utilisateurs:
                if Usr.length > 0 
                    .table-responsive
                        table.table.table-striped.table-bordered(id="liste_users")
                            thead
                                tr
                                    th Nom
                                    th Prenom
                                    th Login
                                    th mail
                                    th droits
                                    th Editer
                            tbody
                                each user in Usr
                                    tr
                                        td #{user.nom_user}
                                        td #{user.prenom_user}
                                        td #{user.login_user}
                                        td #{user.mail_user}
                                        td #{user.droits_user}
                                        td
                                            a.btn.btn-secondary(href="/admin/view_user/"+user.id_user) Modifier
                                            a.btn.btn-danger(href="/admin/del_user/"+user.id_user) Supprimer
                else
                    h1 Pas d utilisateurs
