extends ../layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet",href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')

block content
    main

        script(src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")

        script.
            $(document).ready( function () {
                const dataTables_options = {
                    language:{
                    "info":" page _PAGE_ / _PAGES_",
                    "search":"Rechercher",
                     "lengthMenu": "Afficher _MENU_ enregistrements",
                     "paginate":{
                         "next":">",
                         "previous":"<",
                        }
                    }
                }
                $('#liste_clis').DataTable(dataTables_options);
            } );

        .row
            .col-md-12
                ul.nav.nav-tabs
                    li.nav-item
                        a.nav-link.active.show(href="#GererIncidents",data-toggle="tab",role="tab") Gerer les Incidents
                    li.nav-item
                        a.nav-link(href="#AjouterIncident",data-toggle="tab",role="tab") Ajouter un Incident

                .tab-content(id="IncidentsTabContent")
                    .tab-pane.fade.show.active(id="GererIncidents", role="tabpanel", aria-labelledby="GererIncidents-tab")
                        if Clis.length > 0 
                            .table-responsive
                                table#liste_clis.table.table-bordered.table-hover
                                    thead
                                        tr
                                            th SI
                                            th CLI
                                            th Titre
                                            th Code Erreur
                                            th Creation
                                            th Fermeture
                                            th Etat
                                            th Descriptif
                                            th Entite responsable
                                            th Entite en action
                                            th Modif
                                    tbody
                                        each cli in Clis
                                            tr
                                                td #{cli.SI}
                                                td #{cli.CLI}
                                                td #{cli.TITRE}
                                                td #{cli.CODE_ERREUR}
                                                td #{cli.DATE_CREATION}
                                                td #{cli.DATE_CLOTURE}
                                                td #{cli.ETAT}
                                                td #{cli.DESCRIPTIF}
                                                td #{cli.ENTITE_RESPONSABLE}                                      
                                                td #{cli.ENTITE_EN_ACTION}                                      
                                                td
                                                    a.btn.btn-outline-primary(href="/params/cli_edit/"+cli.CLI) Editer
                                                    
                        else
                            h1 Pas de tickets      
                    .tab-pane.fade(id="AjouterIncident", role="tabpanel", aria-labelledby="AjouterIncident-tab")
                        .tab-container
                            form(action='/params/cli_add',method='POST')
                                .row
                                    .col-md-4
                                        label(for "newCli_CLI") CLI:
                                        input.form-control(type="text",name="newCli_CLI",id="newCli_CLI")
                                    .col-md-2
                                        label(for "newCli_Code") Code Erreur lié:
                                        select.form-control(type="text",name="newCli_Code",id="newCli_Code")
                                            option(value="") Selectionner
                                            for code in liste_codes
                                                option(value=code.ErrorCode) #{code.ErrorCode}
                                
                                .row
                                    .col-md-6
                                        label(for "newCli_titre") Titre:
                                        input.form-control(type="text",name="newCli_titre",id="newCli_titre")
                                .row
                                    .col-md-6
                                        label(for "newCli_desc") Descriptif:
                                        textarea.form-control(type="text",name="newCli_desc",id="newCli_desc")
                                .row
                                    .col-md-2
                                        label(for="newCli_dt_creation") Date Creation      
                                        input.form-control(type="date" name="newCli_dt_creation",value="")
                                    .col-md-2
                                        label(for="newCli_dt_cloture") Date Cloture      
                                        input.form-control(type="date" name="newCli_dt_cloture",value="")
                                    .col-md-2
                                        label(for="newCli_etat") Statut
                                        select.form-control(name="newCli_etat")
                                            option(value='') CHOISIR
                                            for status in liste_status
                                                option(value=status.lib_statut) #{status.lib_statut}                                        
                                .row
                                    .col-md-3
                                        label(for="newCli_resp") Responsable
                                        select.form-control(name="newCli_resp")
                                            option(value='') CHOISIR
                                            for resp in liste_resp
                                                option(value=resp.entite_responsable) #{resp.entite_responsable}
                                    .col-md-3
                                        label(for="newCli_act") En action
                                        select.form-control(name="newCli_act")
                                            option(value='') CHOISIR
                                            for resp in liste_resp
                                                option(value=resp.entite_responsable) #{resp.entite_responsable}
                                br
                                br

                                input.btn.btn-outline-primary(type="submit" name="addCode" value="Ajouter l incident")