extends ../layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet",href='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')

block content
    main

        script(src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")

        script.
            $(document).ready( function () {
                const dataTables_options = {
                    language:{
                    "info":" page _PAGE_ / _PAGES_",
                    "search":"Rechercher",
                     "lengthMenu": "Afficher _MENU_ enregistrements",
                     "paginate":{
                         "next":">",
                         "previous":"<",
                        }
                    }
                }                
                $('#liste_typos').DataTable(dataTables_options);
            } );

        .row
            .col-md-12
                ul.nav.nav-tabs
                    li.nav-item
                        a.nav-link.active.show(href="#GererTypos",data-toggle="tab",role="tab") Gerer les Typologies
                    li.nav-item
                        a.nav-link(href="#AjouterTypo",data-toggle="tab",role="tab") Ajouter une Typologie

                .tab-content(id="TyposTabContent")
                    .tab-pane.fade.show.active(id="GererTypos", role="tabpanel", aria-labelledby="GereTypos-tab")
                        if typos.length > 0 
                            .tab-container
                                .table-responsive
                                    table#liste_typos.table.table-bordered.table-hover
                                        thead
                                            tr
                                                th Code Erreur
                                                th Typologie
                                                th Source Potentielle
                                                th Collecte Impactee
                                                th Responsabilité
                                                th Requete
                                                th Diffusion
                                                th Modifier

                                        tbody
                                            each typo in typos
                                                tr
                                                    td #{typo.error_code}
                                                    td #{typo.libelle_typologie}
                                                    td #{typo.source_potentielle}
                                                    td #{typo.collecte_impactee}
                                                    td #{typo.responsabilite}
                                                    td #{typo.nom_requete}
                                                    td #{typo.liste_diffusion_requete}
                                                    
                                                    td
                                                        a.btn.btn-outline-primary(href="/params/typo_edit/"+typo.id_typologie)
                                                            span.oi.oi-pencil(title="Editer")
                                                        
                        else
                            h1 Pas de codes  

                    .tab-pane.fade(id="AjouterTypo", role="tabpanel", aria-labelledby="AjouterTypo-tab")
                        .tab-container
                           .row
                                .col-md-8
                                    form(action='/params/typo_add',method='POST')
                                        label(for "newTypo_Code") Code Erreur lié:
                                        select.form-control(type="text",name="newTypo_Code",id="newTypo_Code")
                                            option(value="") Selectionner
                                            for code in errorCodes
                                                option(value=code.ErrorCode) #{code.ErrorCode}

                                        label(for "newTypo_Typologie") Typologie:
                                        input.form-control(type="text",name="newTypo_Typologie",id="newTypo_Typologie")
                                        label(for "newTypo_Source") Source Potentielle:
                                        textarea.form-control(name="newTypo_Source",id="newTypo_Source")
                                        label(for "newTypo_Collecte") Collecte Impactée:
                                        select.form-control(name="newTypo_Collecte",id="newTypo_Collecte")
                                            option(value="") Choisir
                                            for c in collecte
                                                option(value=c.lib_collecte) #{c.lib_collecte}
                                        label(for "newTypo_resp") Responsabilité:
                                        select.form-control(name="newTypo_Resp")    
                                            option(value="") Choisir
                                            for r in resp
                                                option(value=r.entite_responsable) #{r.entite_responsable}
                                        br
                                        input.btn.btn-outline-primary(type="submit" name="addCode" value="Ajouter la Typologie")