extends ../layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main

        script(src="https://code.jquery.com/jquery-3.2.1.min.js" )
        script(src='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
        script(src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")

        script.
            $(document).ready( function () {
                $('#liste_typos').DataTable();
            } );

        .row
            .col-md-12
                ul.nav.nav-tabs
                    li.nav-item
                        a.nav-link.active(href="#GererTypos",data-toggle="tab",role="tab") Gerer les Typologies
                    li.nav-item
                        a.nav-link(href="#AjouterTypo",data-toggle="tab",role="tab") Ajouter une Typologie

                .tab-content(id="TyposTabContent")
                    .tab-pane.fade.show.active(id="GererTypos", role="tabpanel", aria-labelledby="GereTypos-tab")
                        if typos.length > 0 
                            .table-responsive
                                table#liste_codes.table.table-striped.table-bordered
                                    thead
                                        tr
                                            th Code Erreur
                                            th Typologie
                                            th Source Potentielle
                                            th Collecte Impactee
                                            th Responsabilité
                                            th Requete
                                            th Modifier

                                    tbody
                                        each typo in typos
                                            tr
                                                td #{typo.error_code}
                                                td #{typo.libelle_typologie}
                                                td #{typo.source_potentielle}
                                                td #{typo.collecte_impactee}
                                                td #{typo.responsabilite}
                                                td #{typo.requete_id}
                                                
                                                td
                                                    a.btn.btn-primary(href="/params/cli_edit/"+typo.id_typologie) Editer
                                                    
                        else
                            h1 Pas de codes  

                    .tab-pane.fade(id="AjouterTypo", role="tabpanel", aria-labelledby="AjouterTypo-tab")