extends ../layouts/layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main

        script(src="https://code.jquery.com/jquery-3.2.1.min.js" )
        script(src='https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css')
        script(src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")

        script.
            $(document).ready( function () {
                $('#liste_clis').DataTable();
            } );
    
    
        .row
            .col-md-12
                h1.titre Liste CLIs:
                if Clis.length > 0 
                    .table-responsive
                        table#liste_clis.table.table-striped.table-bordered
                            thead
                                tr
                                    th SI
                                    th CLI
                                    th Titre
                                    th Code Erreur
                                    th Famille
                                    th Creation
                                    th Fermeture
                                    th Etat
                                    th Descriptif
                                    th Entite responsable
                                    th Entite en action
                            tbody
                                each cli in Clis
                                    tr
                                        td #{cli.SI}
                                        td #{cli.CLI}
                                        td #{cli.TITRE}
                                        td #{cli.CODE_ERREUR}
                                        td #{cli.FAMILLE}
                                        td #{cli.DATE_CREATION}
                                        td #{cli.DATE_CLOTURE}
                                        td #{cli.ETAT}
                                        td #{cli.DESCRIPTIF}
                                        td #{cli.ENTITE_RESPONSABLE}                                      
                                        td #{cli.ENTITE_EN_ACTION}                                
                                            
                else
                    h1 Pas de tickets      
