extends ../layouts/layout.pug

block styles
  link(rel="stylesheet", href="/css/cni.css")
  link(rel="stylesheet", href="/css/tooltips.css")

block content
    main
      script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js')

      script.
          $(document).ready( function () {
            const dataTables_options = {
                language:{
                "info":" page _PAGE_ / _PAGES_",
                "search":"Rechercher",
                  "lengthMenu": "Afficher _MENU_ enregistrements",
                  "paginate":{
                      "next":">",
                      "previous":"<",
                    }
                  }
                }
              const dataTables_alarms_options = {
                language:{
                "info":" page _PAGE_ / _PAGES_",
                "search":"Rechercher",
                  "lengthMenu": "Afficher _MENU_ enregistrements",
                  "paginate":{
                      "next":">",
                      "previous":"<",
                    }
                  },
                  order:[[2,'desc']]
                }
              $('#liste_related_clis').DataTable(dataTables_options);
              $('#liste_related_alarms').DataTable(dataTables_alarms_options);
              $('#liste_typos').DataTable(dataTables_options);
              $('#errCode').on('change',function(){
                const c=$('#errCode').val();
                if (c != "")
                {
                  //window.location("cni/"+c);
                  $(location).attr('href',"/analyse/cni/"+c);                
                }
              })
              $('.view_detail').click(function(){
                $(".lateral-menu").toggleClass('open');
              })
          } );

      .container-fluid
        .lateral-menu
          .container-fluid
            br
            if SelectedCode
              h5 [ #{codeDetail[0].ErrorCode} ] Evolution nombre de tickets ( 5 derniers jours)
              br
              if resolutionData.length > 0 
                each pastDay in resolutionData
                  if pastDay.length > 0
                    br
                    h6.header_nb_tickets Nb Tickets du #{pastDay[0].dt}
                    .row
                      .col-md-11
                        .table-responsive
                          table.table.table-bordered
                            tr
                              each dayD in pastDay
                                th #{dayD.dt_insertion}
                            tr
                              each day in pastDay
                                td #{day.nb_tickets}
          
        if code_list.length > 0
        .row.div_code_selecteur
          .col
            span Selectionner le code:
            select.code_selecteur(name='errCode',id='errCode')
              option(value="") Choisir
              each code in code_list
                option(value=code.ErrorCode,selected=(code.ErrorCode === SelectedCode ? true : false)) #{code.ErrorCode}
            //- input.btn.btn-default(type='button',value='Afficher',id='get_code_cni')

        if SelectedCode
          .row
            .col-md-6
              .group-item
                p.group-item_title Informations
                  if codeDetail.length > 0
                    table.table
                      tr
                        td
                          h3
                            span.badge #{codeDetail[0].ErrorCode}
                        td #{codeDetail[0].Description_ErrorCode}
                  if Typos.length > 0
                    table#liste_Typos.table.table-striped.table-bordered
                      thead
                        tr
                          th Typologie
                          th Collecte Impactée
                          th Responsabilite
                        for typo in Typos
                          tr
                              td(title=typo.source_potentielle)
                                b #{typo.libelle_typologie}
                              td #{typo.collecte_impactee}                    
                              td #{typo.responsabilite}                    
            .col-md-6
              .group-item
                p.group-item_title Alarmes
                if relatedAlarms.length > 0
                  .table-responsive
                    table#liste_related_alarms.table.table-bordered
                        thead
                            tr
                                th Type Alarme
                                th Valeur
                                th Date
                        tbody
                            each alarme in relatedAlarms
                                tr
                                    td #{alarme.type_flag}
                                    td #{alarme.flag_val}
                                    td #{alarme.date_flag}                                    
                else
                  h1.no-item-message 
                     span.oi.oi-ban(title="pas d alarme enregistrée")
          .row
            .col-md-6
              .group-item

                p.group-item_title Evolution des Tickets
                  a.btn.view_detail 
                    span.oi.oi-bar-chart.info-icon(title='Voir les variations des derniers jours')
                  span.oi.oi-info.info-icon.float-right(data-title="Donnees du : "+ fraicheur_donnees +"\n"+"Profondeur de données : "+ profondeur +" jours")
                  //- span.badge.badge-info Données du #{fraicheur_donnees}
                canvas(id="myChart")
                  script. 
                    var code_evo = !{code_evo}
                    var lib=[];
                    var data=[];
                    for (var { code,dat,nb_tickets } of code_evo)
                    {
                     -lib.push(dat);
                     -data.push(nb_tickets);
                    }
                    var myChart = new Chart(document.getElementById("myChart").getContext("2d"),{
                        type:'line',
                        data:{
                          labels:lib,
                          datasets:[{
                            label:'Nb Tickets',
                            data:data,
                            backgroundColor:['rgba(45,110,132,0.2)']
                          }]
                        }
                    })
            .col-md-6
              .group-item
                  p.group-item_title Historique des Incidents
                    if relatedClis.length > 0 
                      .table-responsive
                          table#liste_related_clis.table.table-bordered
                              thead
                                  tr
                                      th Si
                                      th Incident
                                      th Titre
                                      th Création
                                      th Etat
                              tbody
                                  each cli in relatedClis
                                      tr
                                          td #{cli.SI}
                                          td #{cli.CLI}
                                          td #{cli.TITRE}
                                          td #{cli.DATE_CREATION}
                                          td #{cli.ETAT}                                      
                    else
                      h1.no-item-message 
                        span.oi.oi-ban(title="pas de ticket enregistré")
